{{- if (.Param "ShowBreadCrumbs") -}}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a href="{{ .Site.BaseURL }}">Home</a>
    </li>
    {{ $ancestors := .Ancestors.Reverse }}
    {{ if gt (len $ancestors) 0 }}
      {{ range after 1 $ancestors }}
        <li class="breadcrumb-item">
          <a href="{{ .RelPermalink }}">
            {{ $title := "" }}
            {{ with .Title }}
              {{ $title = . }}
            {{ else }}
              {{ with .LinkTitle }}
                {{ $title = . }}
              {{ else }}
                {{ with .Section }}
                  {{ $title = (humanize .) }}
                {{ end }}
              {{ end }}
            {{ end }}
            {{ $title }}
          </a>
        </li>
      {{ end }}
    {{ end }}
    {{/* Add current page */}}
    <li class="breadcrumb-item">
      <span aria-current="page">
        {{ $title := "" }}
        {{ with .Title }}
          {{ $title = . }}
        {{ else }}
          {{ with .LinkTitle }}
            {{ $title = . }}
          {{ else }}
            {{ with .Section }}
              {{ $title = (humanize .) }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ $title }}
      </span>
    </li>
  </ol>
</nav>
{{- end -}}
