{{/* FP: Completely changed */}}
<nav class="paginav">
{{ if .PrevInSection }}
  <a class="prev" href="{{.PrevInSection.Permalink}}">
    <span class="title">« {{ i18n "prev_page" }}</span>
    <br>
    <span>{{.PrevInSection.Title | truncate 42 "..." }}</span>
  </a>
{{ end }}
{{ if .NextInSection }}
  <a class="next" href="{{.NextInSection.Permalink}}">
    <span class="title">{{ i18n "next_page" }} »</span>
    <br>
    <span>{{.NextInSection.Title | truncate 42 "..." }}</span>
  </a>
{{ end }}
</nav>
